{% extends 'base.html' %}

{% block title %}Game{% endblock title %}

{% block content %}
<div>
    <h2>{{ channel.title }}</h2>
    <p>Subs: {{ channel.subscribers }}</p>
</div>
<div>
    <div>
        <p id="v1_title"> {{ video_1.title }}</p>
        <p id="v1_views"> {{ video_1.views }}</p>
    </div>
    <div>
        <p id="v2_title"> {{ video_2.title }}</p>
    </div>
    <div>
        <button id="send_higher">Higher</button>
        <button id="send_lower">Lower</button>
    </div>
    <p id="result">None</p>
</div>

{% csrf_token %}
<script>
    $("#send_higher").click(function () {
        $.ajax({
            url: "{% url 'hol:game_progress' game.game_id %}",
            headers: {
                "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            method: "POST",
            data: {
                "progress": "higher"
            },
            success: function (data) {
                result = data["result"]
                if (result == "win") {
                    document.getElementById("v1_title").innerHTML = data["video_1"]["title"]
                    document.getElementById("v1_views").innerHTML = data["video_1"]["views"]
                    document.getElementById("v2_title").innerHTML = data["video_2"]["title"]
                }
                document.getElementById("result").innerHTML = result
            }
        });
    });

    $("#send_lower").click(function () {
        $.ajax({
            url: "{% url 'hol:game_progress' game.game_id %}",
            headers: {
                "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            method: "POST",
            data: {
                "progress": "lower"
            },
            success: function (data) {
                result = data["result"]
                if (result == "win") {
                    document.getElementById("v1_title").innerHTML = data["video_1"]["title"]
                    document.getElementById("v1_views").innerHTML = data["video_1"]["views"]
                    document.getElementById("v2_title").innerHTML = data["video_2"]["title"]
                }
                document.getElementById("result").innerHTML = result
            }
        });
    });
</script>
{% endblock content %}