{% extends 'base.html' %}

{% block title %}Game{% endblock title %}

{% block content %}
<div>
    <h2>{{ channel.title }}</h2>
    <p>Subs: {{ channel.subscribers }}</p>
</div>
<div>
    <div>
        <p id="v1_title"> {{ video_1.title }}</p>
        <p id="v1_views"> {{ video_1.views }}</p>
    </div>
    <div>
        <p id="v2_title"> {{ video_2.title }}</p>
        <p id="v2_views">??</p>
    </div>
    <div>
        <button id="higher" class="game_button">Higher</button>
        <button id="lower" class="game_button">Lower</button>
    </div>
    <p id="result">None</p>
</div>

<input type="hidden" id="game_progress" value="none">
{% csrf_token %}
<script>
    $(".game_button").click(function (event) {
        current_result = $("#game_progress").val()
        if (current_result == "win" || current_result == "none") {
            $.ajax({
                url: "{% url 'hol:game_progress' game.game_id %}",
                headers: {
                    "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()
                },
                method: "POST",
                data: {
                    "progress": event.target.id
                },
                success: function (data) {
                    result = data["result"]
                    if (result == "win") {
                        $("#v1_title").html(data["video_1"]["title"]);
                        $("#v1_views").html(data["video_1"]["views"]);
                        $("#v2_title").html(data["video_2"]["title"]);
                    } else if (result == "lose") {
                        $("#v2_views").html(data["video_2"]["views"]);
                    }
                    $("#result").html(result);
                }
            });
        }
    });
</script>
{% endblock content %}